.App {
  text-align: left;
}

.App-header {
  box-sizing: border-box;
  background-color: #282c34;
  min-height: 30vh;
  width: 100%;
  align-items: left;
  justify-content: left;
  color: white;
  
}
.flex{
  display:flex;
}
.foot-img{
  background-image: url("footimg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
  text-align: center;
}
.footerimg{
  height:500px;
}
.circs{
  display:inline-block;
}
.cuisine{
  display:inline-block;
}
.padtop{
  padding-top: 80px;
}
